/* Styles for large screens (desktops and laptops) */
.App {
  height: 100vh;
}
.Feedback{
  height: 100vh;
}
.Main{
  height: 100vh;
  border-bottom: 50px;
}
.About{
  height: 100vh;
}
.Welcome{
  height: 100vh;
}



@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {

}
